.main{
    min-height: 100vh;
}

.footer{
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #F8F8F8;
    padding: 10px 0;
}
.product-image {
    max-width: 95%;
    max-height: 200px;
}

.price-title {
    font-style: italic;
    font-size: 14px;
}

.price {
    font-size: 16px;
    font-weight: bold;
}

.product-item,
.product-item:link,
.product-item:hover,
.product-item:visited {
    text-decoration: none;
    color: black;
}

.item-container {
    position: relative;
    height: 100%;
    padding-bottom: 50px;
}

.item-info {
    position: absolute;
    bottom: 0px;
    height: 50px;
}

.product-detail-title {
    font-size: 24px;
    font-weight: bold;
}

.product-detail-image {
    max-width: 100%;
    max-height: 400px;
}